# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

2_CppWordle/CMakeLists.txt
2_CppWordle/.idea/*
2_CppWordle/cmake-*
2_CppWordle/eng_matriz.txt
2_CppWordle/engF_matriz.txt
2_CppWordle/esp_matriz.txt
